.list-item {
    /*position: relative;*/
    display: flex;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    justify-content: space-between;
}

.list-item:hover {
    background-color: whitesmoke;
}

.list-item-selected {
    background-color: #e3f2fd;
}

.item-text {
    display: flex;
    align-content: flex-start;
}